version: 2.1

jobs:
  run-unit-test:
    docker:
      - image: node:20-alpine
    steps:
      - checkout
      - run:
          name: "Install dependencies"
          working_directory: app
          command: npm ci
      - run:
          name: "Run tests"
          working_directory: app
          command: npm run test:run

workflows:
  version: 2
  build-and-deploy-dev:
    jobs:
      - run-unit-test:
          filters:
            branches:
              only:
                - develop
