version: 2.1

jobs:
  run-unit-test:
    docker:
      - image: node:20-alpine
    steps:
      - checkout
      - run:
          name: "Install dependencies"
          working_directory: app
          command: npm ci
      - run:
          name: "Run tests"
          working_directory: app
          command: npm run test:run

  run-static-code-analysis:
    docker:
      - image: node:20-alpine
    steps:
      - checkout
      - run:
          name: "Install Sonar scan"
          command: npm install -g @sonar/scan
      - run:
          name: "Run Sonar scan"
          command: |
            sonar \
              -Dsonar.token=$SONAR_DEV_TOKEN \
              -Dsonar.projectKey=$SONAR_DEV_PROJECT_KEY \
              -Dsonar.organization=$SONAR_DEV_ORGANIZATION

  deploy-to-vps-prod:
    docker:
      - image: node:20-alpine
    steps:
      - checkout
      - run:
          name: "Create app env file"
          working_directory: app
          command: echo "$BASE64_ENV_PROD" | base64 -d > .env
      - run:
          name: "Install dependencies and build app"
          working_directory: app
          command: |
            npm ci
            npm run build
      - run:
          name: "Install OpenSSH client and rsync"
          command: apk add --no-cache openssh rsync
      - add_ssh_keys
      - run:
          name: "Upload files using rsync"
          command: |
            rsync -azv --delete \
              -e "ssh -o StrictHostKeyChecking=no" \
              --exclude='.git' \
              --exclude='.circleci' \
              --exclude='*.log' \
              ./ $VPS_USER@$VPS_HOST:$PROD_PROJECT_DIR/
      - run:
          name: "Deploy website on VPS via SSH"
          command: |
            ssh -o StrictHostKeyChecking=no $VPS_USER@$VPS_HOST "
              set -euo pipefail
              cd $PROD_PROJECT_DIR/docker-roosh-website
              docker compose -f docker-compose-prod.yml down || true
              docker compose -f docker-compose-prod.yml up -d --build
            "


workflows:
  version: 2
  build-and-test-dev:
    jobs:
      - run-unit-test:
          filters:
            branches:
              only:
                - develop
      - run-static-code-analysis:
          requires:
            - run-unit-test
            - run-end-to-end-test
          filters:
            branches:
              only:
                - develop
  build-and-deploy-prod:
    jobs:
      - run-unit-test:
          filters:
            branches:
              only:
                - main
      - hold-prod:
          type: approval
          requires:
            - run-unit-test
          filters:
            branches:
              only:
                - main
      - deploy-to-vps-prod:
          requires:
            - hold-prod
          filters:
            branches:
              only:
                - main
